.image {
  position: relative;
  margin-bottom: 2rem;
}
.image:hover p, .image:hover .image-control {
  transition: all ease 0.3s;
  opacity: 1;
}
.image img {
  border-radius: 24px;

  width: 100% !important;
  height: auto !important;
}
.image p {
  position: absolute;
  font-weight: bold;
  opacity: 0;
  color: white;
  bottom: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0 0 24px 24px;
}
.image .image-control {
  position: absolute;
  opacity: 0;
  padding: 0.5rem 1rem;
  top: 12px;
  right: 12px;
}
